.currency-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .currency {
        width: 310px;
        height: 52px;
        text-align: center;
        border: none;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
    .icon-arrows {
        color: #0E57D6;
    }
}
